$colors: (
  orange: #cd7e2d,
  blue: #81afcc,
  green: #7dcca0,
);

$sizes: (
  small: 33%,
  large: 66%,
);

.App {
  text-align: center;
}

.container {
  display: grid;
  width: fit-content;
  grid-template-columns: repeat(7, auto);
  margin: 0 auto;
  grid-gap: 10px;
}

.item-wrapper {
  width: 100px;
  height: 100px;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ccc;

  &.selected {
    opacity: 1;
    background-color: rgba(#d28cdb, 0.2);
    border: 1px solid #d28cdb;
  }
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.5);

  @each $size, $value in $sizes {
    &.size-#{$size} {
      width: $value;
      height: $value;
    }
  }

  @each $color, $value in $colors {
    &.color-#{$color} {
      background-color: $value;
    }
  }

  &.has-dot {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.stats {
  margin: 40px;

  .live-stats {
    color: #d28cdb;
  }
}

.target-chart {
  width: 200px;
  height: 40px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;

  .center-line {
    width: 100%;
    border-bottom: 2px solid black;
  }

  .marker-wrapper {
    position: relative;
    height: 20px;
    width: 100%;

    .marker {
      position: absolute;
      height: 100%;
      border-right: 3px solid black;
      transform: translateX(-50%);

      &.bottom-marker {
        border-right-color: red;
      }
    }
  }
}
